.App {
	text-align: center;
	display: flex;
	/* justify-content:stretch; */
	padding: 5%;
}
h2 {
	text-align: left;
}
#flight-data{
	display: flex;
	flex-direction: column;
	flex: auto;
}
.leaflet-container {
	width: 100%;
	height: 60vh;
	border: 2px solid teal;
	border-radius: 15px;
}